body {
padding-top:85px;
}

.navbar{
height:85px;
}
/* .navbar-fixed-top {
background:white;
}

.navbar-fixed-top  .navbar-text{
	font-size:30px;
	font-weight:bold;
	margin-top:20px;
}

.navbar-fixed-bottom {
	height:30px;
	min-height:20px;
}
.navbar-fixed-bottom  > .navbar-text{
	margin-top:5px;
	margin-bottom:5px;
}
 */

/* 
.navbar-brand {
	padding:0px;
}
.navbar-nav > li {
	text-align:center;
}


.navbar-nav>li.active>a {
border-top: 5px solid;
padding-top: 10px;
background: #f8f8f8;
}
.navbar-nav>li.active a:hover {
border-top: 5px solid #428bca;
padding-top: 10px;
background: #428bca;
}

.shaded{
	margin: 0 auto;
	background: #f8f8f8 url(images/backgroundpattern.jpg) left top repeat;
	-moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

a{
color: #9d426b;
text-decoration: none;
-o-transition: all .3s;
-moz-transition: all .3s;
-webkit-transition: all .3s;
-ms-transition: all .3s;
}
a:hover { color: #888; text-decoration: none; }


.navbar ul.nav li a {
     color: #5d5d5d;
    text-shadow: none; 
}

.navbar ul.nav li a:hover {
    background: #428bca;
    color: #fff;
}

.navbar ul.nav li a:hover i { color: #fff; } */